.topsection {
    // background-image: linear-gradient(to right bottom, #3723aa, #14b0ee);
    color: #fff;
    
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
    height: 100vh;
    width: 100vw;
    
    &-title {
        font-size: var(--fs-heading-big);
        font-weight: 400;
        letter-spacing: .75rem;

        position:absolute;
        margin-top: 2rem;
        z-index:1;

        animation-name: glideIn;
        animation-duration: 2s;
        animation-iteration-count: 1;
    }

    &-undertitle {
        font-size: var(--fs-heading);
        font-weight: 100;
        position:absolute;
        margin-top: 15rem;
        z-index:1;
        opacity: 0;

        animation-name: showIn;
        animation-delay: 1300ms;
        animation-duration: 2s;
        animation-fill-mode: forwards;
    }

    &-downarrow {
        font-size: 12.5rem;
        position:absolute;
        margin-top: 70rem;
        z-index:50;
        text-decoration: none;
        color: #fff;
    }

    &-canvas {
    z-index: 1;
    height: 100vh;
    width: 100vw;
    }

}

.whatsection {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    

    &-title {
        color: #Fff;
        padding: var(--title-padding);
        font-size: var(--fs-heading-medium);
    }
    
    &-downarrow {
        margin: 2.5rem auto;
        font-size: 12.5rem;
        z-index:50;
        text-decoration: none;
        color: #fff;
    }
    
    &-wrapper {

        &_text {
            align-items: center;
            width: 60%;
            margin-left: 5rem;
    
            color: #fff;
    
            font-size: var(--fs-text-big);
            font-weight: 100;
    
            margin-top: -.5rem;
            padding: 2rem 2rem;
    
            border-left: var(--border-2);
            border-bottom: var(--border-2);
        }
    
        &_picture {
            margin-left: 5rem;
            padding: 1.5rem 1.5rem;

            border-left: var(--border-2);
            border-bottom: var(--border-2);
        }

        &_picture2 {
            margin-left: 5rem;
            padding: 1.5rem 1.5rem;

            height: 70rem;

            border-left: var(--border-2);
            border-bottom: var(--border-2);
        }
    
}

}

.whatsection2 {
    height: 145vh;
    display: flex;
    flex-direction: column;
    background: linear-gradient(to bottom right,  #14b0ee 0%, rgba(181,13,30,1) 100%);
    background-attachment: fixed;

    &-title {
        color: #Fff;
        padding: var(--title-padding);
        font-size: var(--fs-heading-medium);
    }

    &-text {
        align-items: center;
        width: 60%;
        margin-left: 5rem;
    
        color: #fff;
    
        font-size: var(--fs-text-big);
        font-weight: 100;
    
        margin-top: -.5rem;
        padding: 2rem 2rem;
    
        border-left: var(--border-2);
        border-bottom: var(--border-2);
    }

    &-text2 {
        align-items: center;
        width: 60%;
        margin-left: 5rem;
    
        color: #fff;
    
        font-size: var(--fs-text-big);
        font-style: italic;
        font-weight: 400;
    
        margin-top: -.5rem;
        padding: 2rem 2rem;
    
        border-left: var(--border-2);
        border-bottom: var(--border-2);
    }

    &-video {
    height: 55rem;
    width: 100rem;

    margin-left: 5rem;
    padding: 1.5rem 1.5rem;

    border-left: var(--border-2);
    border-bottom: var(--border-2);

    }

    &-downarrow {
        margin: 2.5rem auto;
        font-size: 12.5rem;
        z-index:50;
        text-decoration: none;
        color: #fff;
    }
}

.mainsection {
    height: 130vh;
    background: linear-gradient(to top right,  #14b0ee 0%, rgba(181,13,30,1) 100%);
    background-attachment: fixed;

    &-title {
        color: #Fff;
        padding: var(--title-padding);
        font-size: var(--fs-heading-medium);
    }

    &-underheader {
        font-size: var(--fs-heading);
        color: #Fff;
        padding: var(--title-padding);
    }

    &-text {
        align-items: center;
        width: 60%;
        margin-left: 5rem;
        font-weight: 100;
    
        color: #fff;
    
        font-size: var(--fs-text-big);
        font-weight: 100;
    
        margin-top: -.5rem;
        padding: 2rem 2rem;
    
        border-left: var(--border-2);
        border-bottom: var(--border-2);
    }

    &-picture {
        height: 50rem;
        
        margin-left: 5rem;
        padding: 1.5rem 1.5rem;

        border-left: var(--border-2);
        border-bottom: var(--border-2);
    }

}

.mainsection2 {
    display: flex;
    flex-direction: column;
    height: 140vh;
    background: linear-gradient(to bottom right,  #14b0ee 0%, #20a327 100%);
    background-attachment: fixed;

    &-underheader {
        font-size: var(--fs-heading);
        color: #Fff;
        padding: var(--title-padding);
    } 

    &-text {
        align-items: center;
        width: 60%;
        margin-left: 5rem;
    
        color: #fff;
    
        font-size: var(--fs-text-big);
        font-weight: 100;
    
        margin-top: -.5rem;
        padding: 2rem 2rem;
    
        border-left: var(--border-2);
        border-bottom: var(--border-2);
    }

      &-picture {
        height: 50rem;
        width: 70rem;
        
        margin-left: 5rem;
        padding: 1.5rem 1.5rem;

        border-left: var(--border-2);
        border-bottom: var(--border-2);
    }

    &-downarrow {
        margin: 2.5rem auto;
        font-size: 12.5rem;
        z-index:50;
        text-decoration: none;
        color: #fff;
    }

}

.mainsection3 {
    display: grid;
    // grid-template-columns: 1fr;
    // grid-template-rows: repeat(2, 1fr);
    height: 200vh;
    background-color: var(--darkblue1);

    &-title {
        height: 15rem;
        color: #Fff;
        padding: var(--title-padding);
        font-size: var(--fs-heading-medium);
    }

    &-text {
        align-items: center;
        width: 60%;
        margin-left: 5rem;
    
        color: #fff;
    
        font-size: var(--fs-text-big);
        font-weight: 100;
    
        margin-top: -.5rem;
        margin-bottom: 7.5rem;
        padding: 2rem 2rem;
    
        border-left: var(--border-2);
        border-bottom: var(--border-2);
    }

    &-gridcontainer {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(6, 1fr);
        width: 60vw;
        height: 150rem;

        background-color: var(--cardboard);
        
        justify-self: center;
        align-self: start;


    }

    
}


@keyframes glideIn {
    from {
        margin-right: 100%;
        opacity: 0.1;
      }
    
      to {
        margin-left: 0%;
      }
}

@keyframes showIn {
    from {
        opacity: 0;
        
      }
    
      to {
        opacity: 1;
      }
}

